.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

@media screen and (min-width:1023px) and (max-width:1200px) {
  .my-card{
    min-width: 275px !important;
  }
  .line-chart{
    width:500px;
  }
  .pie-chart{
    width: 325px;
  }
  .table-h2{
    font-size: 1em !important;
  }
  .my-table{
    margin-right: 0.1rem;
  }
  .exp-btn-csv{
    font-size: 0.7rem !important;
    width: 89px !important;
  }
  .imp-btn-csv{
    font-size: 0.7rem !important;
    width: 89px !important;
  }
  .csv-div{
    width: 265px !important;
  }
  .select-input{
    margin-right: 27px !important;
  }

}
/* laptops and small screens */

@media screen and (min-width:769px) and (max-width:1024px) {
  .my-row{
    flex-direction: column !important;
    align-items: stretch !important;
  }
  .charts-wrapper{
    flex-direction: column !important;
    align-items: stretch !important;
  }
  
  .csv-div{
    width: 295px !important;
    flex-direction: column !important;
  }
  .select-input{
    margin-right: 27px !important;
  }
  .exp-btn-csv{
    margin-bottom: 0rem !important;
    width: 8rem !important;
  }
  .imp-btn-csv{
    
    width: 7rem !important;
  }
  .input-radio{
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0rem 2rem !important;
    gap: 0.5rem !important;
  }
  .table-h2{
    font-size: 1em  !important;
  }

}

@media screen and (min-width:481px) and (max-width:768px) {
  .charts-wrapper{
    flex-direction: column !important;
    align-items: stretch !important;
  }
  .table-h2{
    font-size: 1em !important;
  }
  .csv-div{
    width: 295px !important;
    flex-direction: column !important;
  }

  .exp-btn-csv{
    margin-bottom: 0rem !important;
    width: 8rem !important;
  }
  .imp-btn-csv{
    
    width: 7rem !important;
  }
}